{{#partial "contenido"}}
      <div class="starter-template">
        <h1>Bienvenido {{usuario}}</h1>
        <p class="lead">Selecciona una de las opciones del menú para hacer uso de las funciones de AsesorApp</p>
      </br>
        <h2>Empresas cargadas <span class="badge badge-secondary">{{cantEmpresas}}</span></h2>
        <h2>Cuentas cargadas <span class="badge badge-secondary">{{cantCuentas}}</span></h2>
        <h2>Indicadores cargados <span class="badge badge-secondary">{{cantIndicadores}}</span></h2>
        <h2>Metodologías cargadas <span class="badge badge-secondary">{{cantMetodologias}}</span></h2>
      </div>
{{/partial}}

{{>layout.hbs}}